/* div.Baslik{
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 40px;
    text-align: center;
  
}
div{
    background-color: gray;
    width: 100px;
    height: 40px;
    text-align: center;
} */

nav.menu{
    width: 300px;
    background-color: gray;
    text-align: center;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

.active{
    background-color: lightgrey;
    color: white;
}

