body div{
    border-radius: 10px;
    color: white;
    font-size: 2rem; 
}



.header{
    background-color: blue;
    padding: 2rem;
    
    
    
}

.menu{
    display: flex;
    margin-top: 1rem; 
    padding: 1rem;
    height: 450px;
    justify-content:space-around;
    
}
.sidebar{
    background-color: blueviolet;
    padding: 2rem;
    text-align: center;
    
}
.main{
    background-color: green;
    padding: 1rem;
    margin-right: 2rem;
    width: 25rem;
    flex: auto;
    align-items:left;
}

.footer{
    background-color: aqua;
    margin-top: 1rem;
    padding: 2px;
    
}